{% extends "base.html.twig" %}

{% block title %}Blog{% endblock %}

{% block body %}
    <section id="blog"></section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("prod/app/js/blog.js") }}"></script>
{% endblock %}