{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="contact"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('prod/app/js/contact.js') }}"></script>
{% endblock %}