<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ReactsJS into Symfony !{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header id="header"></header>
        {% block body %}{% endblock %}
        <footer id="footer"></footer>
        {% block javascripts %}
            <script src="{{ asset('js/prod/app/react.js') }}"></script>
        {% endblock %}
    </body>
</html>
