<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ReactsJS into Symfony !{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header id="header"></header>
        {% block body %}{% endblock %}
        <footer id="footer"></footer>
        {% block javascripts %}
            <!-- Global JS -->
            <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                    crossorigin="anonymous"></script>
            <script src="{{ asset('js/app/request.js') }}"></script>

            <!-- ReactJS -->
            <script src="{{ asset('js/app/React/global.js') }}"></script>
        {% endblock %}
    </body>
</html>
