{% extends 'base.html.twig' %}

{% block body %}
    <div id="home"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/Composants/index.react.js') }}" type="text/babel"></script>
{% endblock %}