{% extends 'base.html.twig' %}

{% block body %}
    <div id="home"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app/home.js') }}"></script>
{% endblock %}