{% extends 'base.html.twig' %}

{% block body %}
    <div id="home"></div>
    <div id="contact"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app/React/typescript.js') }}"></script>
{% endblock %}